1. store and display student information (name,age,grade).

In [1]:
def display_student_info(students):
    for student in students:
        name, age, grade = student
        print(f"Name: {name}, Age: {age}, Grade: {grade}")

students_data = [
    ("Alice", 16, "A"),
    ("Bob", 17, "B"),
    ("Charlie", 16, "C"),
]

display_student_info(students_data)

Name: Alice, Age: 16, Grade: A
Name: Bob, Age: 17, Grade: B
Name: Charlie, Age: 16, Grade: C

2.list prices of grocery items and total them.

In [5]:
grocery_items = (
    ("Milk", 2.50),
    ("Bread", 1.75),
    ("Eggs", 3.00),
    ("Cheese", 4.50),
    ("Apples", 2.00)
)

total_cost = 0

print("Grocery Prices:")
for item, price in grocery_items:
    print(f"{item}: ${price:.2f}")
    total_cost += price

print(f"\nTotal cost: ${total_cost:.2f}")

Grocery Prices:
Milk: $2.50
Bread: $1.75
Eggs: $3.00
Cheese: $4.50
Apples: $2.00

Total cost: $13.75

3.pair items with prices using tuples.
("milk",15),("eggs" ,50), ("bread" ,20)

In [6]:
items = [
    ("milk", 15),
    ("eggs", 50),
    ("bread", 20)
]

# Accessing elements
for item, price in items:
    print(f"{item}: ${price}")

milk: $15
eggs: $50
bread: $20

4. store and display train schedule as tuples.
("rajdhani," "10:00"),("shatabdi", "12:30"), ("duronto", "17:00")

5. sort employee records by salary.
("john",40000),("alice",55000),("raj",30000)

In [11]:
employee_records = [
    ("john", 40000),
    ("alice", 55000),
    ("raj", 45000)

]
sorted_employees = sorted(employee_records, key=lambda item: item[1])

print(sorted_employees)

[('john', 40000), ('raj', 45000), ('alice', 55000)]

6. count how many students scored above 75 marks.
marks=(67,88,92,74,76,55)